@page
@model cse3055.Pages.AboutUsModel
@{
}
<style>
    p {
        text-align: justify;
    }
</style>

<h1>Renkli Metal - Who We Are?</h1>

<div>
    <p>
        Renkli Metal has become one of the leading companies in the non-ferrous metals sector in Turkey, leveraging the knowledge, experience, and potential acquired since its establishment. The company has continuously developed by expanding its customer portfolio and product range each day.

        Our commitment is to prioritize quality in products and trust in relationships, ensuring customer satisfaction both internationally and in Turkey. Our knowledgeable and experienced staff closely follow industry innovations and customer expectations, utilizing the latest technologies to consistently enhance processes and products.
    </p>

    <div class="mission-vision">
        <strong>Our Mission:</strong>
        <p>
            Renkli Metal's mission is to ensure customer satisfaction with quality, reliable, and cost-effective products and services in the brass, copper, bronze, and technical plastics industry. We aim to provide solutions for our customers' specific requests with first-class customer service and competitive prices, utilizing resources effectively and with environmental awareness. Our success and profitability stem from valuing our employees as the internal customers of our company, while upholding ethical values and principles.
        </p>

        <strong>Our Vision:</strong>
        <p>
            Our vision is to be the preferred and well-known supplier in the brass, copper, bronze, and technical plastics industry throughout Turkey.
        </p>
    </div>
</div>