@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Renkli Metal</h1>
    <p>
        Learn about <a href="https://renklimetal.com/">Renkli Metal Sanayi ve Ticaret A.Ş</a>.
    </p>
</div>
